<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <span class="ion-text-wrap">Rezi's 30B. Geburtstag</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="ion-padding">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="counter ion-text-center" >
            <app-ng-countdowner [countDownTimerVisible]="true" [end]="'12/9/2019 00:00:00'"
              (timerExpired)="countdownFinished()"></app-ng-countdowner>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!countdownFinishedFirstTime">
        <ion-col size="12" size-lg="3" *ngFor="let gif of publicGifs">
            <ion-img [src]="gif"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="countdownFinishedFirstTime">
          <ion-col size="12"><h1 class="counter ion-text-center">Sushiiiiiiii Power im Myly!</h1></ion-col>
          <ion-col size="12" size-lg="3" *ngFor="let gif of privateGifs">
              <ion-img [src]="gif"></ion-img>
          </ion-col>
        <!-- <app-secret-component></app-secret-component> -->
      </ion-row>
    </ion-grid>

  </div>
</ion-content>